extends layout

block content
    - var statusOptions = ['Emergency', 'Warning', 'Caution', 'Advisory'];

    h2 Alerts List
    br
    a(href='/admin/alerts/add' style='font-size=16px;').btn.btn-primary Add alert
    br
    br

    .alert.alert-success(role='alert' id='data-saved') Data Updated!
    .alert.alert-danger(role='alert' id='data-save-fail') Failed to update data!

    table(id='alerts-table' data-sortable).table.table-bordered.table-striped.table-hover.sortable-theme-bootstrap
        thead
            tr
                th Name
                th Date
                th Time
                th System
                th Status
                th
        tbody
            each alert in list.alerts
                tr
                    td
                        input(type='text' value='#{alert.title}' name='title' placeholder='Alert title' id='title' maxlength=18).form-control
                    td.col-sm-2
                        input(value='#{alert.date}' name='date' placeholder='1/1/2015' data-provide="datepicker" data-date-format="mm/dd/yyyy").form-control
                    td.col-sm-1
                        input(type="text" data-provide="timepicker" data-template="dropdown" data-show-seconds='true' data-minute-step="1" value='#{alert.time}' data-show-inputs='false' name='time' data-show-meridian="false" placeholder='00:00:00').form-control
                    td.col-sm-2
                        input(type='text' value='#{alert.system}' name='system' placeholder='CDH' maxlength=18 id='system').form-control
                    td
                        select(value='#{alert.status}' name='status' placeholder='Low').form-control.input-sm
                            each val in statusOptions
                                option(selected=alert.status == val) #{val}
                    td.col-sm-1
                        a(href='/admin/alerts/#{alert.id}/delete').btn.btn-danger Delete

    button(type='submit' id='alerts-save').btn.btn-primary Save
    br
    br
    br
    form(action='/admin/alerts/upload' method='post' enctype="multipart/form-data")
        .form-group
            label(for='upload') Upload json data
            input(type='file' name='alerts' id='upload')
            br
            input(type='submit' value="Upload")