extends layout

block content
    h2 Edit event '#{event.name}'

    form(id='event-edit' data-event-id="#{event.id}" )
        .form-group
            label(for='name') Name
            input(type='text' value='#{event.name}' id='name' name='name' placeholder='Event Name' maxlength=15).form-control
        .form-group
            label(for='date') Date
            input(name='date' id='date' data-provide="datepicker" data-date-format="mm/dd/yyyy" value='#{event.date}' data-date-today-highlight='true' data-date-today-btn='linked').form-control
        .form-group.input-group.bootstrap-timepicker.timepicker
            label(for='startTime') Start Time
            input(type="text" data-provide="timepicker" data-template="dropdown" data-show-inputs='false' data-minute-step="1" id='startTime' name='startTime' data-show-meridian="false" placeholder='00:00' value='#{event.startTime}').form-control
        .form-group.input-group.bootstrap-timepicker.timepicker
            label(for='endTime') End Time
            input(type="text" data-provide="timepicker" data-template="dropdown" data-minute-step="1" data-show-inputs='false' id='endTime' name='endTime' data-show-meridian="false" placeholder='00:00' value='#{event.endTime}').form-control
        .form-group
            label(for='criticality') Criticality
            select(id='criticality' name='criticality').form-control.input-sm
                each val in criticalityOptions
                    option(selected=event.criticality == val) #{val}
        .form-group
            label(for='notes') Notes
            textarea(rows='3' id='notes' name='notes' placeholder='Event notes...').form-control #{event.notes}
        .form-group
            label(for='location') Location
            input(type='text' value='#{event.location}' id='location' name='location' placeholder='Location' maxlength=19).form-control
        .form-group
            label(for='roles') Roles
            select(id='roles' multiple="multiple" name='roles[]').form-control.input-sm
                each val in roles
                    option(selected=event.roles.indexOf(val.name) != -1 id=index value=val.name) #{val.name}
        .form-group
                label(for='color') Color
                .input-group.event-color.col-sm-2
                    input(type='text' value='#{event.color}' name='color' id='color').form-control
                    span.input-group-addon
                        i
        button(type='submit' id='event-edit-save').btn.btn-primary Save