extends layout

block content
    h2 Add Event

    form(id="add-event-form")
        .form-group
            label(for='name') Name
            input(type='text' name='name' id='name' placeholder='Event Name').form-control
        .form-group
            label(for='role') Role
            select(name='role' id='role').form-control.input-sm
                each val in roles.roles
                    option(selected=index == 0) #{val.name}
        .form-group
            label(for='date') Date
            input(name='date' id='date' data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-today-highlight='true' data-date-today-btn='linked').form-control
        .form-group.input-group.bootstrap-timepicker.timepicker
            label(for='startTime') Start Time
            input(type="text" id='startTime' data-provide="timepicker" data-template="dropdown" data-minute-step="1" name='startTime' data-show-inputs='false' data-show-meridian="false" placeholder='00:00').form-control
        .form-group.input-group.bootstrap-timepicker.timepicker
            label(for='endTime') End Time
            input(type="text" id='endTime' data-provide="timepicker" data-template="dropdown" data-minute-step="1" data-show-inputs='false' name='endTime' data-show-meridian="false" placeholder='00:00').form-control
        .form-group
            label(for='criticality') Criticality
            select(name='criticality' id='criticality').form-control.input-sm
                each val in criticalityOptions
                    option(selected=index == 0 id=index) #{val}
        .form-group
            label(for='status') Status
            select(name='status' id='status').form-control.input-sm
                each val in statusOptions
                    option(selected=index == 0) #{val}
        .form-group
            label(for='notes') Notes
            textarea(rows='3' name='notes' id='notes' placeholder='Event notes...').form-control
        .form-group
            label(for='location') Location
            input(type='text' name='location' id='location' placeholder='Location').form-control
        .form-group
            label(for='attendees') Attendees
            select(id='attendees' multiple="multiple" name='attendees[]').form-control.input-sm
                each val in users
                    option(selected=index == 0 id=index value=val.name) #{val.name}
        .form-group
                label(for='color') Color
                .input-group.event-color.col-sm-2
                    input(type='text' value='#5cb85c' id='color' name='color' placeholder='#5cb85c').form-control
                    span.input-group-addon
                        i
        button(type='submit' id='event-add').btn.btn-primary Add