extends layout

block content
    h2 Event List

    br
    a(href='/admin/events/add' style='font-size=16px;').btn.btn-primary Add event
    br
    br
    table(id='events-table' data-sortable).table.table-bordered.table-striped.table-hover.sortable-theme-bootstrap
        thead
            tr
                th Name
                th Role
                th Date
                th StartTime
                th EndTime
                th Criticality
                th Status
                th Notes
                th Location
                th Attendees
                th Color
        tbody
            each event in list.events
                tr
                    td #{event.name}
                    td.col-sm1 #{event.role}
                    td.col-sm-1 #{event.date}
                    td.col-sm-1 #{event.startTime}
                    td.col-sm-1 #{event.endTime}
                    td #{event.criticality}
                    td #{event.status}
                    td #{event.notes}
                    td #{event.location}
                    td.col-sm-1 #{event.attendees}
                    td(style="background-color:#{event.color};")
                    td
                        a(href='/admin/events/#{event.id}/edit').btn Edit
                    td
                        a(href='/admin/events/#{event.id}/delete').btn.btn-danger Delete