extends layout

block content
    - var scheduleOptions = { 0 : 'Scheduled', 1 : 'Canceled'}
    - var criticalityOptions = { 0 : 'Low', 1 : 'High'}

    h2 Event List

    a(href='/admin/events/add').button.button-success Add event
    br
    table(id='events-table').table.table-bordered.table-striped.table-hover
        thead
            tr
                th Name
                th Date
                th StartTime
                th EndTime
                th Criticality
                th Status
                th Notes
                th Location
                th Color
        tbody
            each event in list.events
                tr(id='#{event.id}')
                    td #{event.name}
                    td.col-sm-1 #{event.date}
                    td.col-sm-1 #{event.startTime}
                    td.col-sm-1 #{event.endTime}
                    td #{criticalityOptions[event.criticality]}
                    td #{scheduleOptions[event.status]}
                    td #{event.notes}
                    td #{event.location}
                    td(style="background-color:#{event.color};")
                    td
                        a(href='/admin/events/#{event.id}/edit') Edit
                    td
                        a(href='/admin/events/#{event.id}/delete') Delete